/* Visible comment */

.footer {
	display: block;
	padding: 20px;
	margin: 40px;

	background: #f4a4a3;
	border-radius: 20px;
	box-shadow: #ccc 1px 1px 1px;

	p {
		line-height: 20px;
	}

	table {
		td {
			padding: 10px;
		}
	}
}
