body {
  margin: 0;
  padding: 0;
}

a {
  color: blue;
}
a:hover {
  color: #000099;
}

.header {
  padding: 20px;
  background: #f3f3f3;
  box-shadow: #ccc 1px 1px 1px;
}

.footer {
  display: block;
  padding: 20px;
  margin: 40px;
  background: #f4a4a3;
  border-radius: 20px;
  box-shadow: #ccc 1px 1px 1px;
}
.footer p {
  line-height: 20px;
}
.footer table td {
  padding: 10px;
}
